<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Recommend Me</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/base-min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/pure-min.css" integrity="sha384-X38yfunGUhNzHpBaEBsWLO+A0HDYOQi8ufWDkZ0k9e0eXz/tH3II7uKZ9msv++Ls" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/grids-responsive-min.css">
    <link rel="stylesheet" href="~/css/Layout/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/RecommendMe.styles.css" asp-append-version="true" />
    @RenderSection("SearchHead", false)
    @RenderSection("SearchScript", false)
</head>
<body>
    <header>
        <div class="home-menu pure-menu pure-menu-horizontal">
            <a class="pure-menu-heading pure-menu-link" asp-area="" asp-page="/Index">Recommend Me</a>
            <ul class="pure-menu-list">
                <li class="pure-menu-item">
                    <a class="pure-menu-link" asp-area="" asp-page="/Things/Index">Search</a>
                </li>
            </ul>
            <partial name="_LoginPartial" />
        </div>
    </header>
    <div class="">
        <div class="pure-u-lg-1-4 pure-u-md-1-8 pure-u-sm-1-24"></div>
        <div class="pure-u-lg-1-2 pure-u-md-3-4 pure-u-sm-22-24">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>
        <div class="pure-u-lg-1-4 pure-u-md-1-8 pure-u-sm-1-24"></div>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - RecommendMe - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>