@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<ul class="login-section pure-menu-list">
@if (SignInManager.IsSignedIn(User))
{
    <li class="pure-menu-item">
        <a class="pure-menu-link" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity?.Name!</a>
    </li>
    <li class="pure-menu-item">
        <form class="" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post" >
            <button  type="submit" class="pure-button">Logout</button>
        </form>
    </li>
}
else
{
    <li class="pure-menu-item">
        <a class="pure-menu-link" asp-area="Identity" asp-page="/Account/Register">Register</a>
    </li>
    <li class="pure-menu-item">
        <a class="pure-menu-link" asp-area="Identity" asp-page="/Account/Login">Login</a>
    </li>
}
</ul>
