html {
    font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    /* background-image: url('/images/background/bg-noise.png');*/
    /*background-repeat: repeat;*/
    font-family: 'Roboto Condensed', sans-serif;
}
.home-menu {
    padding: 0.5em;
    text-align: center;
    box-shadow: 0 1px 1px rgba(0,0,0, 0.10);
}

.home-menu {
    background: #1f1f1f;
}

.pure-menu.pure-menu-fixed {
    /* Fixed menus normally have a border at the bottom. */
    border-bottom: none;
    /* I need a higher z-index here because of the scroll-over effect. */
    z-index: 4;
}

.home-menu .pure-menu-heading {
    color: white;
    font-weight: 400;
    font-size: 120%;
}
.pure-menu-heading:hover, .pure-menu-heading:focus {
    background: #2f2f2f;
    border: none;
}

.home-menu .pure-menu-selected a {
    color: white;
}

.home-menu a {
    color: #c7c7c7;
}

.home-menu li a:hover,
.home-menu li a:focus {
    background: #2f2f2f;
    border: none;
    color: #AECFE5;
}
.login-section {
    float: right;
    margin-top: 3px;
}